.header {
  padding: 20px 0;
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  border: 5px solid #747bff;
  border-radius: 20px;
  background-color: aliceblue;
}

.nav-link {
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.5;
  font-size: 40px;
}

.nav-link:hover,
.nav-link:focus {
  color: #747bff;
}
